@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.svg-stroke, nav#pages button svg, body .modal.power .bg button svg, #video_controls button svg, nav.d-pad .back svg, nav.d-pad .home svg, #aspect-lights .bulb svg, #power-source #power svg {
  fill: transparent;
  stroke: #b4b4b4;
  stroke-width: 3px;
}

#power-source {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#power-source #power svg {
  position: absolute;
  left: 0;
  height: 80px;
  width: 80px;
}
#power-source #main_current_input_select {
  position: absolute;
  right: 0;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 3rem;
  color: #power-source #main_current_input_select buttonIcon !important;
}
#power-source #main_current_input_select option {
  background: #111111;
  color: #b4b4b4;
}

#aspect-lights {
  position: absolute;
  top: 300px;
  display: flex;
  align-items: center;
  transform: translateX(8px);
}
#aspect-lights button {
  margin: 0 32px;
}
#aspect-lights .madvr.aspect169, #aspect-lights .madvr.aspect241 {
  border: 0.005rem solid #b4b4b4;
  height: 70px;
  aspect-ratio: 16/9;
  font-size: 2rem;
}
#aspect-lights .madvr-241 {
  aspect-ratio: 2.4/1;
}
#aspect-lights .bulb svg {
  height: 74px;
  width: 74px;
  transform: translateY(-6px);
}

#main_zone_volume {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 480px;
  left: 0;
  right: 0;
  height: 160px;
  line-height: 160px;
  background: #111111;
  border-radius: 80px;
}
#main_zone_volume .range_value {
  color: #b4b4b4;
  font-size: 4rem;
  font-weight: 100;
}
#main_zone_volume .plus, #main_zone_volume .minus {
  position: absolute;
  height: inherit;
  padding: 0 220;
  background: #111111;
  border-radius: 80px;
}
#main_zone_volume .plus:active, #main_zone_volume .minus:active {
  background: #303030;
}
#main_zone_volume .minus {
  left: 0;
  padding-left: 40px;
}
#main_zone_volume .plus {
  right: 0;
  padding-right: 40px;
}
#main_zone_volume #main_zone_volume_range {
  display: none;
  position: absolute;
  width: 80%;
  height: 60px;
}

nav.d-pad {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 720px;
  width: 100%;
}
nav.d-pad div {
  width: 84%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: rotate(45deg);
}
nav.d-pad div button {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  background: #111111;
  border: 4px solid #000;
}
nav.d-pad div button:active {
  background: #303030;
}
nav.d-pad div button i {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 3rem;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
nav.d-pad div button:hover i {
  border-color: #fff;
}
nav.d-pad div button.up {
  border-radius: 100% 0 0 0;
}
nav.d-pad div button.up i {
  transform: rotate(90deg);
}
nav.d-pad div button.right {
  border-radius: 0 100% 0 0;
}
nav.d-pad div button.right i {
  transform: rotate(180deg);
}
nav.d-pad div button.left {
  border-radius: 0 0 0 100%;
}
nav.d-pad div button.down {
  border-radius: 0 0 100% 0;
}
nav.d-pad div button.down i {
  transform: rotate(270deg);
}
nav.d-pad div button.enter {
  display: block;
  position: absolute;
  height: 44%;
  width: 44%;
  top: 28%;
  left: 28%;
  background: nav.d-pad div button.enter button;
  border-radius: 50%;
  border: 6px solid #000;
}
nav.d-pad .back, nav.d-pad .home {
  position: absolute;
  bottom: -10px;
  width: 14%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #111111;
}
nav.d-pad .back:active, nav.d-pad .home:active {
  background: #303030;
}
nav.d-pad .back svg, nav.d-pad .home svg {
  height: 50%;
  width: 50%;
}
nav.d-pad .back {
  left: 10px;
}
nav.d-pad .back svg {
  margin-right: 10px;
}
nav.d-pad .home {
  right: 10px;
}

#video_controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1580px;
  left: 0;
  right: 0;
  height: 160px;
  background: #111111;
  border-radius: 80px;
}
#video_controls button {
  position: absolute;
  height: inherit;
  font-weight: 100;
  color: #b4b4b4;
  padding: 0 60px;
  border-radius: 80px;
}
#video_controls button:active {
  background: #303030;
}
#video_controls button svg {
  height: 100px;
  width: 100px;
}
#video_controls button.rewind {
  left: 186px;
}
#video_controls button.rewind-fast {
  left: 0;
}
#video_controls button.forward {
  right: 186px;
}
#video_controls button.forward-fast {
  right: 0;
}

#madvr-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 3rem;
}
#madvr-page img {
  width: 50%;
}
#madvr-page div {
  margin: 14px;
}
#madvr-page label {
  text-transform: uppercase;
}
#madvr-page button {
  margin: 10px;
  color: #000;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  background: #111111;
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#madvr-page #response {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  text-align: center;
  opacity: 0.5;
  background: none;
}

body .modal.power {
  position: absolute;
  inset: 0;
  transition: 0.2s ease-out;
  display: none;
}
body .modal.power.on {
  display: block;
}
body .modal.power .bg {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 9;
  height: 300px;
  background: #000;
  top: -300px;
  transition: 0.2s ease-out;
  box-shadow: 0 0 200px 5px rgba(134, 200, 255, 0.6);
}
body .modal.power .bg button {
  vertical-align: middle;
  text-align: center;
  height: 80px;
  padding: 0;
  width: 246px;
  height: 300px;
}
body .modal.power .bg button svg {
  height: 90px;
  width: 90px;
}
body .modal.power .bg button span {
  display: inline-block;
  width: inherit;
  text-align: center;
  margin-top: 20px;
  font-size: 2.4rem;
}
body.modal-power-on .modal.power {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
}
body.modal-power-on .modal.power .bg {
  top: 0;
}

#reload {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 2rem;
  color: #fff;
  opacity: 0.1;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background: #000;
}

section {
  display: none !important;
  justify-content: center;
  position: absolute;
  inset: 0 40px 160px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s ease-out;
}
section.active {
  display: flex !important;
  opacity: 1;
}
section header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
}
section header img {
  width: 40%;
}

button, .button {
  border: 0;
  background: transparent;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

nav#pages {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
}
nav#pages button {
  padding: 32px;
}
nav#pages button svg {
  stroke-width: 1px;
  height: 60px;
}
nav#pages button.active svg {
  fill: #b4b4b4;
}
nav#pages button.main svg {
  width: 60px;
}
nav#pages button.plex svg {
  width: 120px;
}
nav#pages button.madvr-page svg {
  width: 80px;
}
nav#pages button.anthem svg {
  width: 60px;
}
nav#pages button.jvc svg {
  width: 100px;
}
nav#pages button.lights svg {
  width: 60px;
}
