@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.svg-stroke, nav#pages button svg, #video_controls button svg, nav#controls #back svg, nav#controls #home svg, #aspect-lights .bulb svg, #power-source #power svg {
  fill: transparent;
  stroke: #b4b4b4;
  stroke-width: 3px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  aspect-ratio: 1440/3120;
  background: #191F2D;
}

button, .button {
  border: 0;
  background: transparent;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover, .button:hover {
  color: #fff;
}
button:hover svg, .button:hover svg {
  stroke: #fff !important;
}

#power-source {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
}
#power-source #power svg {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
}
#power-source #main_current_input_select {
  position: absolute;
  right: 0;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 1rem;
  color: #power-source #main_current_input_select buttonIcon !important;
}
#power-source #main_current_input_select option {
  background: #1A1A1A;
  color: #b4b4b4;
}

#aspect-lights {
  position: absolute;
  top: 14%;
  display: flex;
  align-items: center;
  height: 60px;
}
#aspect-lights button {
  margin: 0 20px;
}
#aspect-lights .madvr-169, #aspect-lights .madvr-241 {
  border: 0.005rem solid #b4b4b4;
  height: 36px;
  aspect-ratio: 16/9;
  font-size: 1rem;
}
#aspect-lights .madvr-241 {
  aspect-ratio: 2.4/1;
}
#aspect-lights .bulb svg {
  height: 50px;
  width: 50px;
  transform: translateY(-6px);
}

#main_zone_volume {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 23%;
  left: 40px;
  right: 40px;
  height: 60px;
  line-height: 60px;
  background: #1A1A1A;
  border-radius: 30px;
}
#main_zone_volume .range_value {
  color: #b4b4b4;
  font-size: 1.6rem;
  font-weight: 100;
}
#main_zone_volume .plus, #main_zone_volume .minus {
  position: absolute;
  height: 60px;
  line-height: 60px;
  padding: 0 80;
}
#main_zone_volume .minus {
  left: 0;
  padding-left: 40px;
}
#main_zone_volume .plus {
  right: 0;
  padding-right: 40px;
}
#main_zone_volume #main_zone_volume_range {
  display: none;
  position: absolute;
  width: 80%;
  height: 60px;
}

nav#controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 35%;
  left: 0;
  right: 0;
}
nav#controls div {
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: rotate(45deg);
}
nav#controls div button {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  background: #1A1A1A;
  border: 3px solid #191F2D;
}
nav#controls div button i {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-left: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
nav#controls div button:hover i {
  border-color: #fff;
}
nav#controls div button#up {
  border-radius: 100% 0 0 0;
}
nav#controls div button#up i {
  transform: rotate(90deg);
}
nav#controls div button#right {
  border-radius: 0 100% 0 0;
}
nav#controls div button#right i {
  transform: rotate(180deg);
}
nav#controls div button#left {
  border-radius: 0 0 0 100%;
}
nav#controls div button#down {
  border-radius: 0 0 100% 0;
}
nav#controls div button#down i {
  transform: rotate(270deg);
}
nav#controls div button#enter {
  display: block;
  position: absolute;
  height: 44%;
  width: 44%;
  top: 28%;
  left: 28%;
  background: nav#controls div button#enter button;
  border-radius: 50%;
  border: 6px solid #191F2D;
}
nav#controls #back, nav#controls #home {
  position: absolute;
  bottom: -10px;
  width: 11%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1A1A1A;
}
nav#controls #back svg, nav#controls #home svg {
  height: 50%;
  width: 50%;
}
nav#controls #back {
  left: 40px;
}
nav#controls #back svg {
  margin-right: 4px;
}
nav#controls #home {
  right: 40px;
}

#video_controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 24%;
  left: 40px;
  right: 40px;
  height: 60px;
  background: #1A1A1A;
  border-radius: 30px;
}
#video_controls button {
  font-weight: 100;
  color: #b4b4b4;
  padding: 0 26px;
}
#video_controls button svg {
  height: 40px;
  width: 40px;
}

nav#pages {
  position: absolute;
  bottom: 10px;
}
nav#pages button {
  padding: 28px;
}
nav#pages button svg {
  stroke-width: 1px;
  height: 30px;
  width: 40px;
}
nav#pages button.active svg {
  fill: #b4b4b4;
}
nav#pages button.home svg {
  width: 40px;
}
nav#pages button.plex svg {
  width: 70px;
}
nav#pages button.madvr svg {
  width: 30px;
}
nav#pages button.jvc svg {
  width: 60px;
}
nav#pages button.lights svg {
  width: 30px;
}
