@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

// Variables
$bg: #191F2D;
$buttonBG: #1A1A1A;
$buttonBGhover: #303030;
$buttonIcon: #b4b4b4;
$buttonIconHover: #fff;

.svg-stroke {
  fill: transparent;
  stroke: $buttonIcon;
  stroke-width: 3px;
}



* {
  margin: 0;
  padding: 0;
}

body{
  background: #333;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  aspect-ratio: 1440 / 3120; // pixel 7 pro dimensions
  background: $bg;
}

// default buttons
button, .button {
  border: 0;
  background: transparent;
  color: $buttonIcon;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {color: $buttonIconHover}
  &:hover svg {stroke: $buttonIconHover !important}
}

#power-source {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  #power svg {
      position: absolute;
      left: 0;
      @extend .svg-stroke;
      height: 40px;
      width: 40px;
    }
  #main_current_input_select {
    position: absolute;
    right: 0;
    background: transparent;
    
    border: 0;
    outline: none;
    font-size: 1rem;
    color: &buttonIcon !important;
    option {
      background: $buttonBG;
      color: $buttonIcon;
    }
  }
}

#aspect-lights {
  position: absolute;
  top: 14%;
  display: flex;
  align-items: center;
  height: 60px;
  button {
    margin: 0 20px;
  }
  .madvr-169, .madvr-241 {
    border: .005rem solid $buttonIcon;
    height: 36px;
    aspect-ratio: 16 / 9;
    font-size: 1rem;
  }
  .madvr-241 {aspect-ratio: 2.4 / 1}
  .bulb {
    // background: black;
    svg {
      @extend .svg-stroke;
      height: 50px;
      width: 50px;
      transform: translateY(-6px);

    }
  }
}



#main_zone_volume {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 23%;
  left: 40px;
  right: 40px;
  height: 60px;
  line-height: 60px;
  background: $buttonBG;
  border-radius: 30px;
  .range_value {
    color: $buttonIcon;
    font-size: 1.6rem;
    font-weight: 100;
  }
  .plus, .minus {
    position: absolute;
    height: 60px;
    line-height: 60px;
    padding: 0 80;
  }
  .minus {left: 0; padding-left: 40px}
  .plus {right: 0; padding-right: 40px}

  #main_zone_volume_range {
    display: none;
    position: absolute;
    width: 80%;
    height: 60px;

  }
}


// 4 way nav
nav#controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 35%;
  left: 0;
  right: 0;
  div {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: rotate(45deg);
    button {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      height: 50%;
      background: $buttonBG;
      border: 3px solid $bg;
      // arrows
      i {
        display: inline-block;
        content: '';
        width: 1rem;
        height: 1rem;
        border-left: 1px solid $buttonIcon;
        border-bottom: 1px solid $buttonIcon;
      }
      &:hover i {border-color: $buttonIconHover}
      &#up{
        border-radius: 100% 0 0 0;
        & i {transform: rotate(90deg)}
      }
      &#right{
        border-radius: 0 100% 0 0;
        & i {transform: rotate(180deg)}
      }
      &#left{
        border-radius: 0 0 0 100%;
      }
      &#down{
        border-radius: 0 0 100% 0;
        & i {transform: rotate(270deg)}
      }
    
      &#enter {
        display: block;
        position: absolute;
        height: 44%; 
        width: 44%;
        top: 28%; // = 100 - height / 2 
        left: 28%;
        background: &button;
        border-radius: 50%;
        border: 6px solid $bg;
      }
    } // button
  } // div

  #back, #home {
    position: absolute;
    bottom: -10px;
    width: 11%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $buttonBG;
    svg {
      @extend .svg-stroke;
      height: 50%;
      width: 50%;
    }
  }
  #back {
    left: 40px; 
    svg{margin-right: 4px;}
  }
  #home {right: 40px}
} // nav#controls











#video_controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 24%;
  left: 40px;
  right: 40px;
  height: 60px;
  background: $buttonBG;
  border-radius: 30px;
  button {
    font-weight: 100;
    color: $buttonIcon;
    padding: 0 26px;
    svg {
      @extend .svg-stroke;
      height: 40px;
      width: 40px;
    }
  }
}


nav#pages {
  position: absolute;
  bottom: 10px;
  button {
    padding: 28px;
    // background: black;
    svg {
      @extend .svg-stroke;
      stroke-width: 1px;
      height: 30px;
      width: 40px;
    }
    &.active svg {
      fill: $buttonIcon;
    }
    &.home svg {width: 40px}
    &.plex svg {width: 70px}
    &.madvr svg {width: 30px}
    &.anthem svg {}
    &.jvc svg {width: 60px}
    &.lights svg {width: 30px}
  }
}